body {
    background-color: cornflowerblue;
    
}

h1  { 
    font-family: arial, "Times New Roman";
    font-size: 30px;
    font-size: italic;
    font-weight: 100;
    text-align: center;
    text-indent: 30px;
    text-transform: uppercase;
    color: blue;
    word-spacing: 10px;
    line-height: 40px;
}
p{
    font-size: 22px;
    line-height: 30px;
    text-align: center;
}
a{
    text-decoration: none
}

p    {text-align: left;
    word-spacing: 10px;
    line-height: 30px;
    color: red;
    margin-top: 100px; 
    margin-bottom: 100px; 
    margin-right: 100px; 
    margin-left: 100px;
}
h2
{text-align: center;

}
h3
{text-align: center;

}
h4
{text-align: center;

}
h5 
{
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}